<div class="h-7"></div>
<div class="min-h-screen flex flex-col">
	<div class="flex-grow">
		<table class="table-auto w-full">
			<thead>
				<tr class="bg-gray-200">
					<th class="px-4 py-2 text-left">Name</th>
					<th class="px-4 py-2 text-left">Authors</th>
					<th class="px-4 py-2 text-left">Number of Pages</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let book of Books" class="hover:bg-gray-100">
					<td class="border px-4 py-2">{{book.name}}</td>
					<td class="border px-4 py-2">{{book.authors}}</td>
					<td class="border px-4 py-2">{{book.numberOfPages}}</td>
				</tr>
			</tbody>
		</table>
		<div class="h-10"></div>
	</div>
</div>