<div class="h-10"></div>
<div *ngIf="book" class="p-4 bg-gray-100 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-2">{{ book.name }}</h2>
    <p class="mb-1"><strong>ISBN:</strong> {{ book.isbn || 'Unknown' }}</p>
    <p class="mb-1"><strong>Authors:</strong> {{ book.authors.join(', ') || 'Unknown' }}</p>
    <p class="mb-1"><strong>Number of Pages:</strong> {{ book.numberOfPages || 'Unknown' }}</p>
    <p class="mb-1"><strong>Publisher:</strong> {{ book.publiser || 'Unknown' }}</p>
    <p class="mb-1"><strong>Country:</strong> {{ book.country || 'Unknown' }}</p>
    <p class="mb-1"><strong>Media Type:</strong> {{ book.mediaType || 'Unknown' }}</p>
    <p class="mb-1"><strong>Released:</strong> {{ book.released | date:'MMM d, y' || 'Unknown' }}</p>
    <h3 class="text-xl font-bold mb-2">Characters:</h3>
    <ul class="list-disc pl-4 mb-4">
        <li *ngFor="let character of book.characterNames"><a (click)="redirectToCharacterPage(character)">{{ character || 'Unknown' }}</a></li>
    </ul>

    <h3 class="text-xl font-bold mb-2">POV Characters:</h3>
    <ul class="list-disc pl-4 mb-4">
        <li *ngFor="let povCharacter of book.povCharacterNames">{{ povCharacter || 'Unknown' }}</li>
    </ul>
</div>
<div class="h-10"></div>
